$header-color: rgb(37, 177, 102);
$article-color: #F5AB26;
$breakdown-color:#2a9d8f;
$body-font-size: 16px;
$heading-font-size: 30px;
$body-font-family: 'Andika New Basic', sans-serif;
$heading-font-family: 'East Sea Dokdo', cursive;
$accent-font-family: 'Langar', cursive;
$lighten: 5;
$darken: 25;
$transition: all 1s;