@import './variables';
@import './functions';
@import './maps';

/* Global */
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: $body-font-size;
    line-height: 1.7;
    font-family: $body-font-family;
}

section {
    margin-top: 96px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.container {
    width: 100%;
    max-width: 1140px;
    display: flex;
    flex-direction: column;

}
.section-title {
    font-size: $heading-font-size;
    margin: 0 0 72px 0;
}


a {
    text-decoration: none;
    color: color(font,light);
}

ul {
    text-decoration: none;
    list-style: none;
    padding-left: 0;

}


.btn {
    color: color(font, base);
    display: inline-block;
    margin: 24px auto 0 auto; 
    padding: 5px 16px; 
    border-radius: 5px; 
    font-family: $heading-font-family;
    font-size: $heading-font-size;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-style: solid;
    border-width: 2px;
    background-size: 200%;
    background-position: 100% 0;
    transition: $transition;

    &:hover{
        background-position: 0 100%;
        
    }    
}

.btn-one {
    border-color: color(font,light);
    color: color(font, light);
    background-image: linear-gradient(90deg, color(break,base) 50%, transparent 50%);
}

.flex-parent {
    display: flex;
    width: 100%;
    justify-content: center;
}



/* Navigation */

.navigation {
    position: absolute;
    width: 100%;
    color: color(font,light);
    top: 0;
    z-index: 2;

    label, input{
        display: none;
    }
    ul {
        li {
            position: relative;
            display: inline-block;
            margin:0;
            text-align: center;
            width: 18%;

            a:hover {
                color: color(articles, dark);
            }

            ul {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                width: 78%;

                li{
                    display: none;
                    background: white;
                    padding: 5px;
                    width: 100%;
                    text-align: center;

                    a {
                        color: color(font,dark);
                        width: 100%;
                    }

                    &:hover {
                        background: color(break, light);
                    }
                }
            }
        }

        li:hover li{
            display: block;
        }
    } 
}


/* Splash */

.splash {
    top: 0;
    width: 100%;
    height: 500px;
    color: color(font,light);
    background: color(articles, light);
    display: flex;
    align-items: center;
    justify-content: center;

    .inner-splash {
        .change-font {
            display: inline;
            font-family: $accent-font-family;
        }
    }
}

/* Services */


.service {
    flex-basis: 26%;
    position: relative;
    margin-bottom: 90px;
    padding: 0 15px;
    height: 400px;
    
    .btn {
        color: color(articles,dark);
    }
    h1 {
        position: absolute;
        top: -120px;
        left: 0;
        font-size: 144px;
        opacity: 0.2;
        color: color(break,light);
        line-height: 1;
    }

    .btn {
        display: block;
        position: absolute;
        bottom: 10px;
        margin: 0 30% 0 auto;
    }
    p:first-of-type{
        font-weight: 100;
    }
}


.btn-two, .btn-three, .btn-four {
    background-image: linear-gradient(90deg, color(articles, light) 50%, transparent 50%);
    border-color: color(font,base);

}

/* Gallery */


.gallery-link{
    display: block;
    color: color(break,base);
    margin: 30px;
}

.gallery {  
    display: flex;
    justify-content: center;

    .flex-parent{
        flex-wrap: wrap;
    }

}

.gallery-unit {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    margin-top: 96px;

    .img {
        flex-basis: 50%;
        margin: 5%;
        position: relative;
        max-width: 100%;


        img{
            max-width: 250px;
        }
    }

    .img::after{
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        background-color: color(break,base);
        opacity: 0.2;
        left: 15px;
        top: 15px;
        transition: $transition;
    }

    .img:hover::after{
        left: 0;
        top: 0;
    }

    .description {
        flex-basis: 50%;
    }
}

/* Contact */

.section-contact {
    background: color(articles, base);
    color: color(font,light);
    
    .flex-parent{
        justify-content: center;
        align-items: baseline;
    }

    .flex-child {
        margin-left: 96px;
    }

    .form {
        flex: 2 0 0;
        margin: 5%;
    }

    .address {
        flex: 1 0 0;
    }
}


.form-input, .textarea{

    color: color(font,light);
    border-style: none;
    border-bottom: color(font,light) solid 5px;
    display: block;
    background-color: transparent;
    width: 90%;

    &::placeholder{
        color: color(font,light);
        margin:0;
        padding:0;
        font-weight: bold;
    }
}

.form-input{
    height: 50px;
    margin-top: 20px;

}

.textarea {
    height: 250px;
}

.submit {
    display: block;
    background-image: linear-gradient(270deg, color(articles, base) 50%, transparent 50%);
    float:left;
    border-color: color(font,light);
    color: color(font,light);
}

.submit:hover{
    color: color(font,dark);
}

.contact-details {

    p{
        display: block;

        &::first-line {
            font-weight: bold;
            font-size: 20px;
        }
    }
    
}

/* Footer */

footer{
    margin: 48px 0;
    position: relative;
    
    .container{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    .social-media{
        width: 60px;
        height: 60px;
        border-radius: 30px;
        background-color: color(break, base);
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2%;

        i {
            font-size: 30px;
            color: color(font,light);
        }
    }
}

/* Media */

@media (max-width: 991px) {
/* General */
html,body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

section {
    margin: 0;
}

.section-title {
    margin: 5%;
    padding: 0;
}

img{
    width: 60vw;
}


.btn:hover{
    background: transparent;
}

.btn:active {
    background: color(header, light)
}

/* Navigation */
.navigation {
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    label {
        display:block;
        position: absolute;
        right: 5px;
        top: 5px;
        font-size: $heading-font-size;
        z-index: 5;
    }
    ul {
        display: none;
    }

    input:checked + ul {
        display: block;

        li {
            display:block;
            background-color: color(break,base);
            width: 100%;
            height: 100%;
            position: relative;

            &:hover {
                ul{
                    display: block;
                    position: relative;
                }
            }
        }
    }
}

/* Splash */
.splash {
    // top:0%;
    display: flex;
    justify-content: center;
    align-items: center;

    .inner-splash{
        margin: 2%;
    }
}

/* Services */
.section-services{

    .flex-parent{
        display: flex;
        flex-wrap: wrap;
    } 
}
.service {
    margin: 0;
    flex-basis: 100%;
    height: calc(fit-content + 40px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .btn {
        position: absolute;
        bottom: 30px;
    } 
}

/* Gallery */

.section-gallery{
    .flex-parent{
        .gallery-unit{
            flex-basis: 96%;
            padding: 2%;
            flex-direction: column;
            margin-top: 3%;
            border-top: solid 1px color(break,light);
        }
    }   
}

/* Contact */
.section-contact{
    .flex-parent{
        display: flex;
        flex-direction: column;

        .flex-child{
            width: 90%;
            flex-basis: 100%;
            margin: 0;
            padding-left:5%;

        }
    }
}
}