$primary-color: #D16E8D;
$articles: #FFAC83;
$font-header: #ffffff;
$font-body: #49C4A3;
$white: #FFF;
$black: #444A51;
$lighten: 5;
$darken: 25;
$default-padding: 108px;
$heading-padding: 80px;
$footer-padding: 20px;
$line-height: 1.7;
$content-font: 'Source Sans Pro', sans-serif;
$header-font: 'Nerko One', cursive;


